.movie {
  display: flex;
  width: 45rem;
  height: 25rem;
  margin: 3rem;
  border: 1px solid black;
  background-color: beige;
}

.movie > img {
  margin-right: 1rem;
}

.movie-data {
  display: flex;
  flex-direction: column;
}

.movie__year {
  font-size: 1.5rem;
  font-weight: 500;
}

.movie__genres {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.movie__summary {
  font-size: 1rem;
}
